<!-- ••••• SECTION 1 ••••• -->

  <!-- BIG GRAY BOX, WITH "HI LEESA!" AND "CLICK HERE TO..." INSIDE IT-->
  <div class="jumbotron alignCenter">

      <h1
        style="font-family: Trocchi, sans-serif; color:#c0392b;">
        Pinterdurst
      </h1>

    <p>
      <%=
        link_to "Log In", "https://www.facebook.com/leesa.durst?hc_ref=NEWSFEED&fref=nf",
        class: "btn btn-warning"
      %>
      <%=
        link_to "Sign Up", "https://www.facebook.com/leesa.durst?hc_ref=NEWSFEED&fref=nf",
        class: "btn btn-danger"
      %>
    </p>

  </div>

<!-- ••••• END SECTION 1 ••••• -->
