<!-- ••••• SECTION 1 ••••• -->

  <!-- BIG GRAY BOX, WITH "HI LEESA!" AND "CLICK HERE TO..." INSIDE IT-->
  <div class="jumbotron">

    <h1>
    Hi Leesa!
    </h1>

    <p>
    Click here to go to Google and <%= link_to "Search", "http://google.com",
    class: "btn btn-danger btn-lg active" %>
    </p>

  </div>

<!-- ••••• END SECTION 1 ••••• -->




<!-- ••••• SECTION 2 ••••• -->

  <div class="jumbotron">

    <!-- YELLOW "LOVE AND TROOT!" BUTTON #1-->
    <p>
        <%=
          link_to "Love and Troot", "https://www.google.com/#q=love+and+troot",
          class: "btn btn-warning btn-block active"
        %>
    </p>

    <!-- YELLOW "LOVE AND TROOT!" BUTTON #2-->
    <p>
      <button type="button" class="btn btn-block btn-warning active">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Love and Troot
      </button>
    </p>

  </div>

<!-- ••••• END SECTION 2 ••••• -->
