<p>
  <%=
  link_to "About", about_path
  %>
  |
  <%=
  link_to "Hello", hello_path
  %>
</p>

<h1>Hi Leesa!</h1>
<p>I love you...yay we are love and it is troot!!!</p>

<p>
  <%=
  link_to "Hello!", "http://www.google.com"
  %>
</p>
