<div class="row">

  <!-- PICTURE #1 -->
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://v.cdn.vine.co/r/avatars/F7C64629951190387456466456576_3908328200b.2.0.jpg?versionId=E9YcGG0fe4aKouqplXpR7kuGrgkcSZMV">
    </a>
  </div>

  <!-- PICTURE #2 -->
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://pbs.twimg.com/profile_images/431192111338106881/I1XJ8LbT_400x400.jpeg">
    </a>
  </div>

  <!-- PICTURE #3 -->
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://lh3.googleusercontent.com/-7ncJC22jFxo/VAOmiJ3yFzI/AAAAAAAAAIY/wYfPC7WdQrU/w426-h425/IMG_2714.JPG">
    </a>
  </div>

  <!-- PICTURE #4 -->
  <div class="col-xs-3 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/005/085/184/237afea.jpg">
    </a>
  </div>

</div>
